.nodes text {
	fill: black;
}

.classNode {
	fill: #FF6666;
}
.classNode circle {
	r: 80px;
}

.propertyNode {
	fill: #ADD4AA;
}
.propertyNode circle {
	r: 60px;
}

path {
	stroke: black;
	fill: black;
	stroke-width: 2px;
}